@import url('https://fonts.googleapis.com/css?family=Concert+One');

.editor {
  min-height: 300px;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: inline-block;
  align
}

.container {
  margin: 10px;
}

.title {
  padding-left: 10px;
  align-content: center;
}

.align-right div {
    text-align: right;
}
.align-center div {
    text-align: center;
}
.align-left div {
    text-align: left;
}

body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#loginTitle {
  font-family: 'Concert One', sans-serif;
  font-size: 96px;
  color: #cd6133;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
