.editor {
  min-height: 500px;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 10px;
}

.title {
  padding-left: 10px;
  align-content: center;
}

.align-right div {
    text-align: right;
}
.align-center div {
    text-align: center;
}
.align-left div {
    text-align: left;
}
